<footer class="footer">
    <p>Script Wars :: hands-on introduction to Angular.js</p>

    <div class="github-links">
        <!-- Place this tag where you want the button to render. -->
        <a aria-label="Follow @AngularPortugal on GitHub" data-count-aria-label="# followers on GitHub" data-count-api="/users/AngularPortugal#followers"
            data-count-href="/AngularPortugal/followers" href="https://github.com/AngularPortugal" class="github-button">Follow @AngularPortugal</a>

        <!-- Place this tag where you want the button to render. -->
        <a aria-label="Star AngularPortugal/script-wars on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/AngularPortugal/script-wars#stargazers_count"
            data-count-href="/AngularPortugal/script-wars/stargazers" data-icon="octicon-star" href="https://github.com/AngularPortugal/script-wars" class="github-button">Star</a>

        <!-- Place this tag right after the last button or just before your close body tag. -->
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </div>
</footer>
